h1 {
    color: lightskyblue;
    font-family: "Wix Madefor Display",sans-serif;
    font-size: 48px;
    text-align: left;
    line-height: 28px;
    margin: 0 auto;
    padding: 10px;
}

h2 {
    color: lightslategray;
    margin: 10px;
    display: block;
    height: 30px;
    line-height: 1;
    font-size: 16px;
    font-family: "Wix Madefor Display",sans-serif;
}

ul {
    margin: 0 0 10px;
    padding: 0;

}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.weather-elements {
    font-weight: bold;
    list-style-type: none;
    color: #9aa0a6;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding-right: 9px;
    padding-top: 6px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.week-days {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 0px;
    font-weight: bold;
}

.btn-primary {
    font-family: "Wix Madefor Display",sans-serif;
    color: white;
    background-color: lightskyblue;
    border-color: lightskyblue;
    display: block;
    text-align: center;
    border-radius: 18px;
    width: 140px;
    height: 40px;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: white;
    color: lightblue;
    border: lightskyblue;
}

.weather-app {
    border: 2px solid;
    color: mediumslateblue;
    border-radius: 4px;
    padding: 20px;
    margin: 30px auto;
    max-width: 600px;
}

.days-temperature {
    font-size: 20px;
        color: mediumslateblue;
}
.image-days {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.overview {
    margin-bottom: 20px;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: #000;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}